body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.post-title:visisted {
    color: #333;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;
}

.post-content {
    margin-top: 5px;
}

.post-end {
    font-size: 15px;
    text-align: center;
    color: gray;
}

.comment-date {
    position: absolute;
    right: 0px;
    color: #999;
}

.comment-writer {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.comment-link {
    color: gray;
    text-decoration: none;
}

textarea {
    width: 100%;
    height: 80px;
    font-size: 15px;
}