<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Cormorant+Garamond" rel="stylesheet">
    <title>Eunbi's Blog</title>
</head>
<body>
    <a href="/blog" class="main-title">Eunbi's Blog</a>
    <div class="login-area">
        {% if user %}
          {{user.username}} (<a class="login-link" href="/blog/logout">Logout</a>)
          <div class="newpost-area"><a class="newpost" href="/blog/newpost">+Newpost</a></div>
        {% else %}
          <a class="login-link" href="/blog/login">Login</a>
          |
          <a class="login-link" href="/blog/signup">Signup</a>
        {% endif %}
    </div>

    {% block content %}
    {% endblock %}
</body>

</html>