<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/style.css" />
    <title>Eunbi's Blog</title>
</head>
<body>
    <a href="/blog" class="main-title">Eunbi's Blog</a>
    <div class="login-area">
        {% if user %}
          {{user.username}} (<a class="login-link" href="/blog/logout">logout</a>)
          <div class="newpost"><a href="/blog/newpost">newpost</a></div>
        {% else %}
          <a class="login-link" href="/blog/login">login</a>
          |
          <a class="login-link" href="/blog/signup">signup</a>
        {% endif %}
    </div>

    {% block content %}
    {% endblock %}
</body>

</html>