{% extends "base.html" %}

{% block content %}


  {% for p in posts %}
  <div class="content">
      <div class="post">
        <div class="post-heading">
           <a href="/{{p.key().id()}}" class="post-title">
            {{p.subject}}
            </a>
          <div class="post-date">
            {{p.username}} | {{p.created.strftime("%b %d, %Y")}}
          </div>
        </div>
        <div class="post-content">
        {{p.content.replace("\n", "<br>") | safe}}
        </div>
      </div>

        {% block post %}
        {% endblock %}
</div>
  {% endfor %}


{% if comments %}

{% endif %}
{% endblock %}
