{% extends "base.html" %}
{% block content %}

<h2 class="center">LOGIN</h2>

<div class="login-form">

  <form method="post">

    <label for="username"> USERNAME </label>
    <input type="text" name="username" value="{{username}}">

    <label for="password"> PASSWORD </label>
    <input type="password" name="password" value="">

    <div class="error">
    <font color="red">{{error}} </font>
    </div>

    <input type="submit" class="submit-button">
  </form>
  <br><br>
  <h4 class="signup-link">
    If you don't have an account click here
    <a href="/signup">sign up</a>
  </h4>
</div>
{% endblock %}