
{% extends "base.html" %}

{% block content %}

<h1 class="center">{% if post_id %}Edit post{% else %}New post{% endif %}</h1>

<div class="newpost-form">
    <form method="post">
        <input type="hidden" id="post_id" name="post_id" value="{{post_id}}">
        <input type="hidden" name="username" value="{{user.username}}">
        <label for="subject"> SUBJECT </label>
            <input class="new-title" type="text" name="subject" value="{{subject}}">


        <label for="content"> BLOG </label>
            <textarea class="new-content" name="content">{% if content %}{{ content | safe}}{% endif %}</textarea>

        <div class="error"><font color="red">{{error}}</font></div>
        <input type="submit" class="submit-button">
    </form>
</div>
{% endblock %}