{% extends "blogpage.html" %}

{% block content %}
<div class="post-end">
  {% if user_id %}
    <a class="login-link" href="/blog/edit">edit</a> |
    <a class="login-link" href="/blog/delete">delete</a>
  {% else %}
    <a class="login-link" href="/blog/like">like</a> |
    <a class="login-link" href="/blog/dislike">dislike</a>
  {% endif %}
</div>
<form method="post">
  <label>
    <div>Comment</div>
    <textarea name="comment">{{comment}}</textarea>
    <input type="submit">
  </label>
</form>
<br><br>

{% endblock %}