{% extends "blogpage.html" %}

{% block post %}
{% for p in posts %}
  <div class="post-end">
    <div class="numOfLikes center">
      {{numOfLikes}}
    </div>

    <div class="post-option-panel center">
      {% if p.user_id == user_id %}
        <a class="post-option" href="/editpost/{{p.key().id()}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a class="post-option" href="/delete/{{p.key().id()}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
      {% else%}
      {% if liked %}
         <a class="post-option" href="/addlike/{{p.key().id()}}">Like</a>
      {% else %}
         <a class="post-option" href="/unlike/{{p.key().id()}}">Unlike</a>
      {% endif %}
      {% endif %}
    </div>
    <br>

  </div>

  {% if user_id %}
  {% for c in comments %}
    <div class="comment">
      <div class="comment-heading">
        <div class="comment-writer">
          {{c.username}}
          {% if c.username == user.username %}
          <a class="comment-link" href="/editcomment/{{p.key().id()}}/{{c.key().id()}}">Edit</a> |
          <a class="comment-link" href="/deletecomment/{{p.key().id()}}/{{c.key().id()}}">Delete</a>
          {% endif %}
        </div>
        <div class="comment-date">
          {{c.created.strftime("%b %d, %Y")}}
        </div>
      </div>
      <div class="comment-content">
        {{c.comment.replace("\n", "<br>") | safe}}
      </div>
    </div>
  {% endfor %}

  <div class="comment-form">
    <form method="post">
      <label class="comment-label" for="comment">Comment ({{user.username}})</label>
      <input type="hidden" name="username" value="{{user.username}}">
      <textarea name="comment">{{comment}}</textarea>
      <input type="submit" class="submit-button">
    </form>
  </div>

    {% endif %}

{% endfor %}
{% endblock %}