{% extends "base.html" %}
{% block content %}

<h2 class="center">SIGN UP</h2>

<div class="signup">
  <form method="post">

    <label for="username"> USERNAME </label>
    <input type="text" name="username" value="{{username}}">

    <div class="error">
    <font color="red">{{error_username}}{{exist_error}}</font>
    </div>

    <label for="password"> PASSWORD </label>
    <input type="password" name="password" value="">

    <div class="error">
    <font color="red">{{error_password}}</font>
    </div>
    </tr>

    <label for="verifypassword"> PASSWORD </label>
    <input type="password" name="verify" value="">

    <div class="error">
    <font color="red">{{error_verify}}</font>
    </div>

    <label for="email"> EMAIL </label>
    <input type="text" name="email" value="{{email}}">

    <div class="error">
    <font color="red">{{error_email}}</font>
    </div>

    <input type="submit" class="submit-button">
  </form>
    <br><br>
    <h4 class="signup-link">
      If you already have an account click here
      <a href="/login">login</a>
  </h4>
</div>
{% endblock %}